---
layout: default
title: Home
permalink: /
---
<div class="container-fluid p-lg-3">
    <div class="row justify-content-center my-3 my-lg-5">
        <div class="col-lg-6 order-1 order-lg-0 my-lg-5 custom-introduction">
            <div class="m-3 fs-1 fw-bold text-center font-josefin-sans">
                {{ site.introduction.main }}
            </div>
            <div class="m-3 fs-3 text-center font-josefin-sans">
                {{ site.introduction.sub }}
            </div>
        </div>
        <div class="col-lg-4 order-0 order-lg-1 my-lg-5 custom-logo">
            <img src="/assets/images/logo.png" alt="Portrait">
        </div>
    </div>
    {% assign pinned_projects = site.projects | where: 'pinned', true %}
    {% if pinned_projects.size != 0 %}
    <div class="row justify-content-center my-5">
        <div class="col-10 d-flex justify-content-around align-items-center my-3 my-lg-5">
            <div class="d-none d-lg-inline-block w-50 border-top me-5"></div>
            <div class="d-inline-block">
                <h2 class="font-lobster">Projects</h2>
            </div>
            <div class="d-none d-lg-inline-block w-50 border-top ms-5"></div>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        {% for project in pinned_projects %}
        <div class="col-11 col-lg-3 mx-3 mt-3 mb-5 my-lg-3">
            <div class="card h-100 text-center custom-project-card custom-project-card-color">
                {% if project.logo %}
                <a href="{{ project.url }}">
                    <img src="{{ project.logo }}" class="card-img-top" alt="Logo of {{ project.name }}">
                </a>
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-center align-items-center py-3">
                    <a class="d-block link-color" href="{{ project.url }}">
                        <h3 class="card-title my-2">{{ project.name }}</h3>
                    </a>
                    <div class="my-2">
                        {% for tag in project.tags %}
                        <span class="badge bg-primary">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <p class="d-block card-text my-2">{{ project.description }}</p>
                    <div class="custom-project-card-shadow custom-project-card-shadow-color"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center my-lg-5">
        <div class="col-10 col-lg-2 my-lg-3">
            <a class="d-block btn rounded-pill btn-outline-primary" href="/projects" role="button">
                View All <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        Blogs
    </div>
</div>