---
layout: default
title: Posts
permalink: /posts
---
<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <h1 class="d-block m-3 fw-bold text-center font-josefin-sans">
                All My Posts
            </h1>
        </div>
    </div>
    {% for post in site.posts %}
    <div
         {% if post == site.posts.last %}
         class="row justify-content-center px-1 px-lg-3 pt-3 pb-5 "
         {% else %}
         class="row justify-content-center px-1 p-lg-3"
         {% endif %}
    >
        <div class="col-lg-8">
            <a class="d-block text-center link-color my-3" href="{{ site.baseUrl }}{{ post.url }}">
                <h2 class="font-titillium-web fw-bold">{{ post.title }}</h2>
            </a>
            <p class="d-block text-center lighter-text-color my-3">
                {{ post.date | date_to_string }}
                {% if post.last_update %}
                &nbsp;(Last Update on {{ post.last_update | date_to_string }})
                {% endif %}
            </p>
            {% if post.tags !=0 %}
            <div class="my-3 text-center">
                {% for tag in post.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="my-4 markdown">{{ post.excerpt }}</div>
        </div>
    </div>
    {% endfor %}
</div>