---
layout: default
title: Posts
permalink: /posts
---
<div class="container-fluid p-lg-5">
    <div class="row justify-content-center my-3">
        <div class="col-lg-6">
            <h1 class="d-block m-3 fw-bold text-center font-josefin-sans">
                All My Posts
            </h1>
        </div>
    </div>
    <div class="py-lg-2"></div>
    {% for post in site.posts %}
    <div class="row justify-content-center mx-3 my-3">
        <div class="col-lg-8">
            <a class="d-block text-center link-color my-3" href="{{ post.url }}">
                <h2 class="font-darker-grotesque fw-bold">{{ post.title }}</h2>
            </a>
            <p class="d-block text-center lighter-text-color">
                {{ post.date | date_to_string }}
                {% if post.last_update %}
                &nbsp;(Last Update on {{ post.last_update | date_to_string }})
                {% endif %}
            </p>
            {% if post.tags !=0 %}
            <div class="my-2 text-center">
                {% for tag in post.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="my-3 markdown">{{ post.excerpt }}</div>
        </div>
    </div>
    <div class="py-lg-2"></div>
    {% endfor %}
    <div class="py-4 py-lg-2"></div>
</div>