---
layout: default
title: Projects
permalink: /projects/index.html
---
<main class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <div class="m-3 text-center">
                <h1 class="fw-bold font-josefin-sans">
                    All My Projects
                </h1>
            </div>
        </div>
    </div>
    {% for project in site.projects %}
    <div
        {% if project == site.projects.last %}
        class="row justify-content-center px-1 px-lg-3 pt-3 pb-5 "
        {% else %}
        class="row justify-content-center px-1 p-lg-3"
        {% endif %}
    >
        {% if project.logo.src %}
        <div class="col-lg-4">
            <a href="{{ site.baseUrl }}{{ project.url }}">
                {% if project.logo.internal %}
                <img src="{{ site.baseUrl }}{{ project.logo.src }}" class="rounded img-fluid"
                     alt="Logo of {{ project.name }}" title="{{ project.name }}">
                {% else %}
                <img src="{{ project.logo.src }}" class="rounded img-fluid"
                     alt="Logo of {{ project.name }}" title="{{ project.name }}">
                {% endif %}
            </a>
        </div>
        <div class="col-lg-6">
            <a class="d-block link-color my-3" href="{{ site.baseUrl }}{{ project.url }}">
                <h2 class="font-titillium-web fw-bold">{{ project.name }}</h2>
            </a>
            {% if project.tags !=0 %}
            <div class="my-3">
                {% for tag in project.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="my-4 markdown">{{ project.excerpt }}</div>
        </div>
        {% else %}
        <div class="col-lg-10">
            <a class="d-block link-color my-3" href="{{ site.baseUrl }}{{ project.url }}">
                <h2 class="font-titillium-web fw-bold">{{ project.name }}</h2>
            </a>
            {% if project.tags !=0 %}
            <div class="my-3">
                {% for tag in project.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="my-4 markdown">{{ project.excerpt }}</div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</main>