<footer class="container-fluid custom-footer">
    <div class="row justify-content-center align-items-center py-3">
        <div class="col-lg-6">
            <div class="d-flex flex-row justify-content-center pt-3">
                {% if site.socialMedia.email %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="mailto:{{ site.socialMedia.email }}">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                {% endif %}
                {% if site.socialMedia.twitter %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="https://twitter.com/{{ site.socialMedia.twitter }}">
                    <i class="bi bi-twitter"></i>
                </a>
                {% endif %}
                {% if site.socialMedia.facebook %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="https://facebook.com/{{ site.socialMedia.facebook }}">
                    <i class="bi bi-facebook"></i>
                </a>
                {% endif %}
                {% if site.socialMedia.instagram %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="https://instagram.com/{{ site.socialMedia.instagram }}">
                    <i class="bi bi-instagram"></i>
                </a>
                {% endif %}
                {% if site.socialMedia.youtube %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="https://youtube.com/channel/{{ site.socialMedia.youtube }}">
                    <i class="bi bi-youtube"></i>
                </a>
                {% endif %}
                {% if site.socialMedia.github %}
                <a class="gray-icon-color p-3 fs-4" rel="noopener" target="_blank"
                   href="https://github.com/{{ site.socialMedia.github }}">
                    <i class="bi bi-github"></i>
                </a>
                {% endif %}
            </div>
            <div class="row justify-content-center align-items-center py-2">
                <div class="col">
                    <ul class="nav justify-content-center align-items-center">
                        {% for nav in site.navigation %}
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{{ site.baseUrl }}{{ nav.url }}">
                                <b>{{ nav.name }}</b>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if site.setting.enableDarkMode == true %}
            <div class="row justify-content-center align-items-center py-3">
                <div class="col">
                    <div class="form-check form-switch d-flex justify-content-center align-items-center">
                        <input class="form-check-input mt-0 me-2 switch-color" type="checkbox" role="switch"
                               id="darkModeSwitch">
                        <label class="form-check-label lighter-text-color" for="darkModeSwitch">Dark Mode</label>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr class="d-block hr-color"/>
            <div class="row text-center py-2">
                <b class="d-inline-block lighter-text-color mt-3">{{ site.copyright }}</b>
                <span class="d-inline-block lighter-text-color my-3">
                    With
                    <a class="gray-link-color" rel="noopener" target="_blank"
                       href="https://github.com/Hyperzsb/natalia-theme">Natalia</a>,
                    a theme powered by
                    <a class="gray-link-color" rel="noopener" target="_blank"
                       href="https://jekyllrb.com/">Jekyll</a>
                    and
                    <a class="gray-link-color" rel="noopener" target="_blank"
                       href="https://getbootstrap.com/">Bootstrap</a>
                </span>
            </div>
        </div>
    </div>
</footer>