@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.ttf");
}