/* Global styles */
:root {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

a {
  transition: color 0.25s ease-out 0.1s;
}

.text-justify {
  text-align: justify;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-lobster {
  font-family: "Lobster", "Noto Serif SC", sans-serif;
}

.font-josefin-sans {
  font-family: "Josefin Sans", "Noto Serif SC", sans-serif;
}

/*
.font-titillium-web {
  font-family: "Titillium Web", "Noto Serif SC", sans-serif;
}

.font-ubuntu {
  font-family: "Ubuntu", "Noto Serif SC", sans-serif;
}
*/

.font-noto-serif-simplified-chinese {
  font-family: "Noto Serif SC", sans-serif;
}

/* Modal style */

#loading-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
}

#main-content {
  display: none;
  opacity: 0;
}

/* Header styles */

//.custom-navbar {
//  transition: box-shadow 0.25s;
//
//  &::before {
//    position: absolute;
//    content: '';
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    backdrop-filter: blur(10px);
//    z-index: -1;
//  }
//
//  * {
//    z-index: 0;
//  }
//}

.custom-navbar {
  transition: border-bottom-color 0.2s;
}

#article-progress-bar {
  width: 0;
  height: 0.25rem;
  transition: width 0.25s ease-out 0s;
}

.custom-nav-item {
  display: inline-block;
  position: relative;
}

.custom-nav-item-active {
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
  }
}

.custom-nav-item-inactive {
  transition: color 0.25s ease-out 0.1s;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid transparent;
    transition: width 0.25s ease-out 0.1s, height 0.25s ease-out 0.1s, border-bottom-color 0.25s ease-out 0.1s;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

.custom-navbar-toggler {
  border: 0;
}

/* Footer styles */

.custom-footer {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  * {
    z-index: 1;
  }
}

.theme-button {
  transition: color 0.25s ease-out 0.1s;
}

.theme-icon {
  font-size: 1.5rem;
}

/* Home styles */

.custom-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-logo {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;

  & img {
    display: block;
    height: 100%;
  }
}

.custom-float-card {
  margin-top: 0.5rem;
  margin-bottom: 0;
  border: 0;
  cursor: default;
  transition: margin-top 0.25s ease-out 0.1s, margin-bottom 0.25s ease-out 0.1s, box-shadow 0.25s ease-out 0.1s;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    margin-top: -3px;
    margin-left: -3px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: width 0.25s ease-out 0.1s, height 0.25s ease-out 0.1s;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    margin-bottom: -3px;
    margin-right: -3px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: width 0.25s ease-out 0.1s, height 0.25s ease-out 0.1s;
  }

  &:hover {
    margin-top: 0;
    margin-bottom: 0.5rem;

    &::before {
      height: 3rem;
      width: 3rem;
    }

    &::after {
      height: 3rem;
      width: 3rem;
    }
  }
}

/* Project styles */

.custom-bg-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    z-index: 0;
  }

  * {
    z-index: 1;
  }
}
