/* Global style */
* {
  transition: 0.25s;
}

.text-justify {
  text-align: justify;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-lobster {
  font-family: "Lobster", sans-serif;
}

.font-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.font-darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

/* Modal style */

#loading-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
}

#main-content {
  display: none;
  opacity: 0;
}

/* Header style */

.custom-navbar:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.custom-nav-item {
  display: inline-block;
  background: none;
  border: 0;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;

  &:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.custom-nav-item-active {

  &:after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
  }
}

.custom-nav-item-inactive {

  &:after {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-out 0.1s, width 0.25s ease-out 0.1s;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
    transition: border-color 0.25s ease-out 0.1s, width 0.25s ease-out 0.1s;
  }
}

/* Home style */

.custom-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-logo {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;

  & img {
    display: block;
    height: 100%;
  }
}

.custom-project-card {
  margin-top: 0.5rem;
  margin-bottom: 0;
  border: 0;
  cursor: default;
  transition: 0.25s;

  p {
    z-index: 2;
  }

  .custom-project-card-shadow {
    width: 75%;
    height: 0;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    padding-bottom: 0;
    border-radius: 1rem;
    z-index: 1;
    transition: all 0.25s ease-out 0.1s;
  }

  &:hover {
    margin-top: 0;
    margin-bottom: 0.5rem;

    .custom-project-card-shadow {
      margin-top: -1rem;
      padding-bottom: 0.75rem;
    }
  }
}

.custom-post-card {
  margin-top: 0.5rem;
  margin-bottom: 0;
  border: 0;
  cursor: default;
  transition: 0.25s;

  &:hover {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}