/* Use the lg breakpoint (992px) of Bootstrap to change styles */
@mixin mobile {
  @media screen and (max-width: 992px) {
    @content;
  }
}

.markdown {
  /* Heading */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;

    a.anchor-heading {
      font-size: 70%;
      vertical-align: super;
      text-decoration: none;
    }
  }

  h1 {
    line-height: 3rem;
    margin: 2rem 0;

    @include mobile {
      line-height: 2.8rem;
    }
  }

  h2 {
    line-height: 3.3rem;
    margin: 1.7rem 0;

    @include mobile {
      line-height: 2.6rem;
    }
  }

  h3 {
    line-height: 3.3rem;
    margin: 1.4rem 0;

    @include mobile {
      line-height: 2.4rem;
    }
  }

  h4 {
    line-height: 3.1rem;
    margin: 1.1rem 0;

    @include mobile {
      line-height: 2.2rem;
    }
  }

  h5 {
    line-height: 1.7rem;
    margin: 0.8rem 0;

    @include mobile {
      line-height: 2rem;
    }
  }

  h6 {
    line-height: 1.5rem;
    margin: 0.5rem 0;

    @include mobile {
      line-height: 1.8rem;
    }
  }

  /* Emphasis */

  p {
    margin: 1rem 0;
  }

  /* Link */

  a {
    &::after {
      display: inline-block;
      padding-left: 2.5px;
      content: '⇗';
      font-size: 70%;
      vertical-align: super;
    }

    &[href^="#"]::after {
      content: '';
    }

    &.reversefootnote {
      font-size: 70%;
      vertical-align: super;
    }
  }

  /* List */

  ul,
  ol {
    margin: 1rem 0;
    padding-inline-start: 2rem;

    @include mobile {
      padding-inline-start: 1.5rem;
    }
  }

  li {
    margin: 1rem 0;
  }

  /* Blockquote */

  blockquote {
    display: block;
    padding-left: 1.5rem;
    margin: 1.5rem 0;
  }

  blockquote.info-blockquote {
    &::before {
      content: "Info";
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  blockquote.warning-blockquote {
    &::before {
      content: "Warning";
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  blockquote.danger-blockquote {
    &::before {
      content: "Danger";
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  /* Code */

  code {
    &.language-plaintext {
      display: inline-block;
      margin: 0 0.25rem;
      padding: 0 0.25rem;
      border-radius: 0.25rem;
    }

    &.hljs {
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }

  /* Table */

  table {
    max-width: 90%;
    margin: 1.5rem auto;
    text-align: center;
    vertical-align: middle;

    th {
      padding: 10px;
      font-weight: bold;
      border-style: solid;
      border-width: 2px;
    }

    tr,
    td {
      padding: 5px;
      border-style: solid;
      border-width: 1px;
    }
  }

  /* Image */

  img {
    max-width: 90%;
  }

  .img-center {
    display: block;
    margin: 1rem auto;
  }

  /* Horizontal Rule */

  hr {
    margin: 3rem 0 2.5rem;
  }

  /* Emoji */

  img.emoji {
    display: inline-block;
    margin: 0 0.5rem;
  }

  /* Footnote */

  div.footnotes {
    margin: 3rem 0 0;
    padding: 1rem 0;
    border-top: 1px dashed;
  }
}

.toc-container {
  position: sticky;
  top: 12.5vh;

  @include mobile {
    display: none;
  }
}

.toc {
  max-height: 75vh;
  overflow-y: auto;
  margin-left: -0.5rem;

  ul,
  ol {
    margin: 0.5rem 0;
    padding-inline-start: 1rem;
    list-style-type: none;

    @include mobile {
      padding-inline-start: 0.5rem;
    }
  }

  li {
    margin: 0.3rem 0;

    a {
      position: relative;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .current-heading {
    border-left: 3px solid;
    padding-left: 0.5rem;
    font-weight: bold;

    &::before {
      display: inline-block;
      position: relative;
      padding-right: 0.5rem;
      content: '§';
    }
  }
}
