/* Use the lg breakpoint (992px) of Bootstrap to change styles */
@mixin mobile {
  @media screen and (max-width: 992px) {
    @content;
  }
}

.toc-container {
  position: sticky;
  top: 12.5vh;

  @include mobile {
    display: none;
  }
}

.toc {
  max-height: 75vh;
  overflow-y: auto;
  margin-left: -0.5rem;

  ul,
  ol {
    margin: 0.5rem 0;
    padding-inline-start: 1rem;
    list-style-type: none;

    @include mobile {
      padding-inline-start: 0.5rem;
    }
  }

  li {
    margin: 0.3rem 0;

    a {
      position: relative;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .current-heading {
    border-left: 3px solid;
    padding-left: 0.5rem;
    font-weight: bold;

    &::before {
      display: inline-block;
      position: relative;
      padding-right: 0.5rem;
      content: '§';
    }
  }
}