---
---

@import "main";
@import "markdown";
@import "toc";
@import "gitalk";

:root {
  --base-color-1: #ced4da;
  --base-color-2: #f1f3f5;
  --base-color-3: #f8f9fa;
  --shadow-color-1: #adb5bd;
  --shadow-color-2: #dee2e6;
  --border-color-1: #ced4da;
  --border-color-2: #dee2e6;
  --link-color-1: #087f5b;
  --link-color-2: #0ca678;
  --link-color-3: #20c997;
  --text-color-1: #212529;
  --text-color-2: #495057;
  --text-color-3: #868e96;
  --info-color: #1c7ed6;
  --warning-color: #f59f00;
  --danger-color: #f03e3e;
}

[data-theme="dark"] {
  --base-color-1: #adb5bd;
  --base-color-2: #343a40;
  --base-color-3: #212529;
  --shadow-color-1: #868e96;
  --shadow-color-2: #343a40;
  --border-color-1: #495057;
  --border-color-2: #495057;
  --link-color-1: #12b886;
  --link-color-2: #38d9a9;
  --link-color-3: #96f2d7;
  --text-color-1: #e9ecef;
  --text-color-2: #ced4da;
  --text-color-3: #adb5bd;
}

/* General color styles */

body {
  background-color: var(--base-color-3);
  color: var(--text-color-1);

  *::selection {
    background-color: var(--link-color-1);
    color: var(--base-color-3);
  }
}

.bg-color {
  background-color: var(--base-color-3);
}

.hr-color {
  background-color: var(--text-color-3);
}

.text-color {
  color: var(--text-color-1);
}

.light-text-color {
  color: var(--text-color-2);
}

.lighter-text-color {
  color: var(--text-color-3);
}

.gradient-text-color {
  background: linear-gradient(45deg, rgb(1, 113, 187), rgb(7, 127, 94));
  -webkit-background-clip: text;
  color: transparent;
}

.link-color {
  color: var(--link-color-1);

  &:hover, &:active {
    color: var(--link-color-2);
  }
}

.gray-link-color {
  color: var(--text-color-2);

  &:hover, &:active {
    color: var(--text-color-3);
  }
}

.icon-color {
  color: var(--link-color-1);

  &:hover, &:active {
    color: var(--link-color-2);
  }
}

.gray-icon-color {
  color: var(--text-color-2);

  &:hover, &:active {
    color: var(--text-color-3);
  }
}

.custom-btn {
  background-color: transparent;
  color: var(--link-color-1);

  &:before, &:after {
    background: var(--link-color-1);
  }

  &:after {
    background: var(--base-color-3);
  }

  &:hover, &:active {
    color: var(--link-color-2);

    &:before, &:after {
      background: var(--link-color-2);
    }

    &:after {
      background: var(--base-color-3);
    }
  }
}

input[type=text],
input[type=email],
textarea,
{
  color: var(--text-color-1) !important;
  background-color: var(--base-color-2) !important;
}

/* Loading modal color styles */

.loading-modal {
  background-color: var(--base-color-3);
}

/* Header color styles */

.custom-navbar {
  background-color: var(--base-color-3);
  border-color: var(--base-color-3);
}

.custom-navbar-border {
  border-bottom: var(--border-color-1) solid 1px;
}

#article-progress-bar {
  background-color: var(--link-color-2);
}

.custom-navbar-brand-color {
  color: var(--link-color-1);

  &:hover {
    color: var(--link-color-2);
  }

  &:hover::after {
    border-bottom-color: var(--link-color-2);
  }
}

.custom-nav-item-active {
  color: var(--link-color-3);
}

.custom-nav-item-inactive {
  color: var(--link-color-1);

  &:hover {
    color: var(--link-color-2);
  }

  &:hover::after {
    border-bottom-color: var(--link-color-2);
  }
}

.custom-navbar-toggler {
  color: var(--link-color-1);
}

/* Footer color styles */

.custom-footer {
  background-color: var(--base-color-2);
  border-top: var(--border-color-2) solid 1px;
}

/* Home color styles */

.custom-float-card {
  background-color: var(--base-color-3);

  &:hover {
    box-shadow: 0 0 20px var(--shadow-color-2);
  }

  &:hover::before,
  &:hover::after {
    border-color: var(--link-color-1);
  }
}

/* Project color styles */

.custom-bg-image {
  &::before {
    background-color: rgba(#f8f9fa, 0.6);
  }
}

[data-theme="dark"] {
  .custom-bg-image {
    &::before {
      background-color: rgba(#212529, 0.6);
    }
  }
}

/* Markdown color styles */

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a.anchor-heading {
      color: transparent;
    }

    &:hover {
      a.anchor-heading {
        color: var(--link-color-1);
      }
    }
  }

  a {
    color: var(--link-color-1);

    &:hover,
    &:active {
      color: var(--link-color-2);
    }
  }

  blockquote {
    border-left: var(--link-color-3) 3px solid;

    & > :not(blockquote) {
      filter: opacity(0.6);
    }
  }

  blockquote.info-blockquote {
    border-left: var(--info-color) 3px solid;

    &::before {
      color: var(--info-color);
    }
  }

  blockquote.warning-blockquote {
    border-left: var(--warning-color) 3px solid;

    &::before {
      color: var(--warning-color);
    }
  }

  blockquote.danger-blockquote {
    border-left: var(--danger-color) 3px solid;

    &::before {
      color: var(--danger-color);
    }
  }

  code {
    &.language-plaintext {
      background-color: var(--base-color-2);
    }
  }

  div.footnotes {
    border-color: var(--link-color-3);

    & > :not(blockquote) {
      filter: opacity(0.6);
    }
  }

  hr {
    background-color: var(--link-color-3);
  }
}

/* TOC color styles */

.toc {
  a {
    color: var(--link-color-1);

    &:hover, &:active {
      color: var(--link-color-2);
    }
  }

  .current-heading {
    border-color: var(--link-color-2);
    color: var(--link-color-2);
  }
}

/* Gitalk color styles */

.gt-container {
  a {
    color: var(--link-color-1) !important;

    &:hover, &:active {
      color: var(--link-color-2) !important;
    }
  }

  .gt-header-preview {
    color: var(--text-color-1) !important;
    background-color: var(--base-color-2) !important;
  }
}
