---
---

@import "main";

$base-color-1: #ced4da;
$base-color-2: #e9ecef;
$base-color-3: #f8f9fa;
$shadow-color-1: #adb5bd;
$shadow-color-2: #dee2e6;
$link-color-1: #087f5b;
$link-color-2: #0ca678;
$link-color-3: #20c997;
//$link-color-1: #212529;
//$link-color-2: #495057;
//$link-color-3: #868e96;
$text-color-1: #212529;
$text-color-2: #495057;
$text-color-3: #868e96;
$text-color-4: #adb5bd;
$hint-color: #63e6be;
$warning-color: #ffe066;
$fatal-color: #ffa8a8;

/* General color style */

.bg-color {
  background-color: $base-color-3;
}

.hr-color {
  background-color: $base-color-2;
}

.text-color {
  color: $text-color-1;
}

.light-text-color {
  color: $text-color-2;
}

.lighter-text-color {
  color: $text-color-3;
}

.link-color {
  color: $link-color-1;

  &:hover, &:active {
    color: $link-color-2;
  }
}

.gray-link-color {
  color: $text-color-2;

  &:hover, &:active {
    color: $text-color-3;
  }
}

.icon-color {
  color: $link-color-1;

  &:hover, &:active {
    color: $link-color-2;
  }
}

.gray-icon-color {
  color: $text-color-2;

  &:hover, &:active {
    color: $text-color-3;
  }
}

/* Loading modal color style */

.loading-modal-color {
  background-color: $base-color-3;
}

/* Header color style */

.custom-navbar-bg-color {
  background-color: rgba($base-color-3, .75);
}

.custom-navbar-shadow-color {
  box-shadow: 0 10px 20px $shadow-color-2;
}

.custom-navbar-brand-color {
  color: $link-color-1;

  &:hover {
    color: $link-color-2;
  }

  &:hover::after {
    border-bottom-color: $link-color-2;
  }
}

.custom-nav-item-active-color {
  color: $link-color-3;
}

.custom-nav-item-inactive-color {
  color: $link-color-1;

  &:hover {
    color: $link-color-2;
  }

  &:hover::after {
    border-bottom-color: $link-color-2;
  }
}

.custom-navbar-toggler-color {
  color: $link-color-1;
  border: 0;
}

/* Footer color style */

.custom-footer-bg-color {
  background-color: $base-color-3;
}

.custom-footer-shadow-color {
  box-shadow: 0 -10px 20px $shadow-color-2;
}

/* Home color style */

.custom-project-card-color {
  background-color: $base-color-3;
}

.custom-project-card-shadow-color {
  background-color: $link-color-3;
}