---
---

@import "main";

$base-color: #f8f9fa;
$base-color-dark: #e9ecef;
$base-color-darker: #ced4da;
$shadow-color-light: #dee2e6;
$shadow-color: #adb5bd;
//$link-color-lighter: #cc5de8;
//$link-color-light: #ae3ec9;
//$link-color: #862e9c;
$link-color-lighter: #868e96;
$link-color-light: #495057;
$link-color: #212529;
$text-color-extreme-light: #adb5bd;
$text-color-lighter: #868e96;
$text-color-light: #495057;
$text-color: #212529;
$hint-color: #63e6be;
$warning-color: #ffe066;
$fatal-color: #ffa8a8;

/* General color style */

.bg-color {
  background-color: $base-color;
}

.hr-color {
  background-color: $base-color-dark;
}

.text-color {
  color: $text-color;
}

.light-text-color {
  color: $text-color-light;
}

.lighter-text-color {
  color: $text-color-lighter;
}

.link-color {
  color: $link-color;

  &:hover, &:active {
    color: $link-color-light;
  }
}

.gray-link-color {
  color: $text-color-light;

  &:hover, &:active {
    color: $text-color-lighter;
  }
}

.icon-color {
  color: $link-color;

  &:hover, &:active {
    color: $link-color-light;
  }
}

.gray-icon-color {
  color: $text-color-light;

  &:hover, &:active {
    color: $text-color-lighter;
  }
}

/* Loading modal color style */

.loading-modal-color {
  background-color: $base-color;
}

/* Header color style */

.custom-navbar-bg-color {
  background-color: rgba($base-color, .75);
}

.custom-navbar-shadow-color {
  box-shadow: 0 10px 20px $shadow-color-light;
}

.custom-navbar-brand-color {
  color: $link-color;

  &:hover {
    color: $link-color-light;
  }

  &:hover::after {
    border-bottom-color: $link-color-light;
  }
}

.custom-nav-item-active-color {
  color: $link-color-lighter;
}

.custom-nav-item-inactive-color {
  color: $link-color;

  &:hover {
    color: $link-color-light;
  }

  &:hover::after {
    border-bottom-color: $link-color-light;
  }
}

.custom-navbar-toggler-color {
  color: $link-color;
  border: 0;
}

/* Footer color style */

.custom-footer-bg-color {
  background-color: $base-color;
}

.custom-footer-shadow-color {
  box-shadow: 0 -10px 20px $shadow-color-light;
}
