---
layout: default
---
<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <h1 class="d-block m-3 fw-bold text-center font-josefin-sans">
                {{ page.title }}
            </h1>
            <p class="d-block m-3 text-center lighter-text-color">
                {{ page.date | date_to_string }}
                {% if page.last_update %}
                &nbsp;(Last Update on {{ page.last_update | date_to_string }})
                {% endif %}
            </p>
            {% if page.tags !=0 %}
            <div class="m-3 text-center">
                {% for tag in page.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div
         {% if page.comment %}
         class="row justify-content-center px-1 pt-3"
         {% else %}
         class="row justify-content-center px-1 pt-3 pb-5"
         {% endif %}
    >
        {% if page.toc != false %}
        <div class="col-lg-2 px-lg-3">
            <div class="toc-container">
                <span class="d-block fs-3 fw-bold font-titillium-web m-1">Contents</span>
                <div class="toc" id="toc">
                    {% include toc.html html=content h_min=1 h_max=4 %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-8 px-lg-3">
            <div class="markdown" id="markdown" data-clarity-region="article">
                {% include anchor_headings.html html=content anchorBody="§" %}
            </div>
        </div>
    </div>
    {% if page.comment %}
    <div class="row justify-content-center px-1 px-lg-3 pb-5">
        <div class="col-lg-8 px-lg-3">
            <div id="gitalk-container"></div>
        </div>
    </div>
    {% endif %}
</div>