---
layout: default
---
<div class="container-fluid p-0 p-lg-5">
    <div class="row justify-content-center py-3">
        <div class="col-lg-6">
            <h1 class="d-block m-3 fw-bold text-center font-josefin-sans">
                {{ page.title }}
            </h1>
            <p class="d-block m-3 text-center lighter-text-color">
                {{ page.date | date_to_string }}
                {% if page.last_update %}
                &nbsp;(Last Update on {{ page.last_update | date_to_string }})
                {% endif %}
            </p>
            {% if page.tags !=0 %}
            <div class="m-3 text-center">
                {% for tag in page.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="py-lg-2"></div>
    <div class="row justify-content-center p-3">
        {% if page.toc != false %}
        <!-- TODO: make the headings of toc synchronous with the content -->
        <div class="col-lg-2 px-lg-3">
            <div class="toc-container">
                <span class="d-block fs-3 fw-bold font-darker-grotesque m-3">Contents</span>
                <div class="toc" id="toc">
                    {% include toc.html html=content h_max=3 %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-8 px-lg-3">
            <div class="markdown" id="markdown">
                {% include anchor_headings.html html=content anchorBody="§" %}
            </div>
        </div>
    </div>
    {% if page.comment == true %}
    <div class="py-lg-2"></div>
    <div class="row justify-content-center p-3">
        <div class="col-lg-8 px-lg-3">
            <div id="gitalk-container"></div>
        </div>
    </div>
    {% endif %}
    <div class="py-4 py-lg-2"></div>
</div>