---
layout: default
---
<main class="container-fluid">
    <div class="row justify-content-center py-5 custom-bg-image"
         {% if page.logo.src %}
         style="background-image: url('{{ site.baseUrl }}{{ page.logo.src }}')"
         {% endif %}
    >
        <div class="col-lg-6 text-center">
            <div class="py-3">
                <h1 class="fw-bold font-josefin-sans" id="{{ page.name | downcase | split: " " | join: "-" }}">
                    {{ page.name }}
                </h1>
            </div>
            {% if page.tags.size != 0 %}
            <div class="d-flex flex-row flex-wrap justify-content-center gap-2 pt-2 pb-1">
                {% for tag in page.tags %}
                <span class="d-block m-1 p-2 badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if page.repo or page.demo %}
            <div class="py-3">
                <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
                    {% if page.repo %}
                    <div class="col pt-3">
                        <a class="custom-btn w-75" role="button" rel="noopener" target="_blank"
                           aria-label="Learn more in GitHub" href="{{ page.repo }}">
                            <span><i class="bi bi-github me-2"></i>GitHub</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if page.demo %}
                    <div class="col pt-3">
                        <a class="custom-btn w-75" role="button" rel="noopener" target="_blank"
                           aria-label="View the live demo" href="{{ page.demo }}">
                            <span><i class="bi bi-film me-2"></i>Live Demo</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-8 px-lg-3">
            <div class="markdown" id="markdown" data-clarity-region="article">
                {% include anchor_headings.html html=content anchorClass="anchor-heading" anchorBody="§" %}
            </div>
        </div>
    </div>
</main>