---
layout: default
---
<div class="container-fluid">
    <div class="row justify-content-center py-5 custom-bg-image"
         {% if page.logo.src %}
         style="background-image: url('{{ site.baseUrl }}{{ page.logo.src }}')"
         {% endif %}
    >
        <div class="col-lg-6">
            <h1 class="d-block py-3 fw-bold text-center font-josefin-sans">
                {{ page.name }}
            </h1>
            {% if page.tags != 0 %}
            <div class="py-2 text-center">
                {% for tag in page.tags %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if page.repo or page.demo %}
            <div class="py-3 text-center">
                <div class="row justify-content-center">
                    {% if page.repo %}
                    <div class="col-6 justify-content-end p-3">
                        <a class="d-block btn rounded-pill btn-outline-primary"
                           href="{{ page.repo }}" target="_blank" role="button">
                            <i class="bi bi-github">&nbsp;View in GitHub</i>
                        </a>
                    </div>
                    {% endif %}
                    {% if page.demo %}
                    <div class="col-6 justify-content-start p-3">
                        <a class="d-block btn rounded-pill btn-outline-primary"
                           href="{{ page.demo }}" target="_blank" role="button">
                            <i class="bi bi-binoculars-fill">&nbsp;View Live Demo</i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center px-1 px-lg-3 pt-3 pb-5">
        <div class="col-lg-8 px-lg-3">
            <div class="markdown" id="markdown">
                {% include anchor_headings.html html=content anchorBody="§" %}
            </div>
        </div>
    </div>
</div>